<div id="imgDiv">
    <img src="/assets/img/burger.png">
</div>
<h1>Eat-Da-Burger</h1>
  <div id="burgerDiv">
    <div id="toDevour">

  {{#each burger}}
<div id="burgerList">
    <div class="burgerName">    	{{id}}.{{burger_name}}
</div>
<div class="devourBtn">
	<button class="devour" data-id="{{id}}" >
		{{#unless devoured }}Devour It! {{/unless}}
	</button>
    </div>
</div>
  {{/each}}
  </div>
  <div id="devoured"></div>
</div>


<div id="addBurger">
 <input type="text" id="newBurger"><br>
<button type="submit" id="submitBtn">Submit</button>
<p>Enter a burger you want to eat and click "Submit"</p>
</div>

